<html>
    <head>
           <title>
               <%=title%>

           </title>
           <%- style%>
           
           <link rel="stylesheet" href="/css/body.css">
    </head>
    <body>

      <%-include('header');%>
    
      <%-body%>
      <%-include('footer');%>

      <%-script%>
      
    </body>
</html>